body {
   /* background-image: url('image/background.jpg'); 
   background-repeat: no-repeat;
   background-size: cover; */
   background-color: #454545;
}
.main-menu-btns {
    text-align: center;
    padding-top: 200px;
}
.main-menu-btns img {
    margin: 50px;
    transition: all 0.2s ease;
}
.main-menu-btns img:hover {
    transform: scale(0.97);
}
@media (max-width: 990px) {
    .main-menu-btns {
        padding-top: 40px;
    }
}